@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #121212;
    color: white;
}
.title {
    font-family: "Cinzel", serif;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #363636;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.btn-primary {
    @apply mx-auto block text-primary border-[1px] px-4 py-2 rounded-2xl border-primary tracking-widest capitalize overflow-hidden relative hover:text-black
}

.btn-primary::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #f0bd7c;
    position: absolute;
    bottom: -100%;
    transition: all 0.3s;
    left: 0;
    z-index: -10;
}
.btn-primary:hover::before {
    bottom: 0;
}